body{
    background: url(./netflix.jpg);
    background-size: cover;
}
h1{
    color: red;
    font-size: 40px;
}
section{
    align-items: center;
    display: block;
    width: 450px;
    height: 500px;
    border: red;
    background-color: black;
    margin: auto;
}
div{
    margin:50px 50px 50px 50px;
    margin-top: 50px;
    padding: 25px;
}

#email{
    width: 100%;
    height: 40px;
    background-color: gray;
    color: white;
}
#password{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: gray;
}
button{
    background-color: red;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    
}
#label{
    color: white;
}